body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("food images/background2.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1.5rem;
    background-color: rgb(242, 175, 50);
    width: 80%;
    border-radius: 10rem;
    align-items: center;
    margin-top: 3rem;
    margin-left: 8rem;
}

.logo{
    width:80px;
}

a{
    text-decoration: none;
    color: rgb(11, 11, 11);
    font-size: 18px;
    font-weight: bold;
}

.navlist{
    display:flex;
    align-items: center;
    gap: 3rem;
    margin-right:150px;
    font-weight:bold;
}

li{
    list-style: none;
}

.btn:hover{
    color:rgb(242, 235, 226);
    transition: 0.3s;
}

.button{
   padding: 10px 18px;
   background-color: rgb(252, 62, 10);
   border-radius: 0.8rem;
   font-size:16px;
   font-weight: 600;
   color: rgb(251, 252, 252);
   border:none;
   transition: 0.3s ease;
   white-space: nowrap;
   margin-right: 15px;
}

.login-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.login-box {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 8px;
    text-align: center;
}

.login-box input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}

.login-buttons {
    display: flex;
    justify-content: space-between;
}

.button:hover{
    background-color: rgb(220, 50, 5);
    color: white;
}

.desktop{
    display:flex;
    align-items:center;
    gap:1.5rem;
}

.cart-icon{
    color: rgb(6, 12, 0);
    font-size: 25px;
    position:relative;
}

.cart-icon .cart-value{
    font-size: 12px;
    width:20px;
    height:20px;
    background:red;
    color:rgb(28, 15, 15);
    border-radius: 50%;
    position:absolute;
    top: -8px;
    right: -10px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.cart-icon:hover{
    color: rgb(84, 82, 82);
}

.bars{
    font-size: 25px;
    display: none;
    cursor:pointer;
}

.mobile-menu{
    display:none;
}

.wrapper{
    max-width: 1400px;
    margin:auto;
}

.flex{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}

.hero-section{
  min-height: 70vh;
  width: 100%;
  background-size: cover;
  padding: 1rem 5rem;
}

.hero-section img{
    max-width:100%;
    height:auto;
    margin:auto;
    display: block;
}

.inner-content,
.image-container{
    flex:1;
    flex-basis: 300px;
}

.hero-section h1{
    font-size: 60px;
    color:rgb(25, 14, 14);
}

.hero-section h1 span{
    color: orange;
}

.hero-section p{
    font-size: 19px;
    color:rgb(250, 249, 249);
    margin:20px 0;
}

.para{
   margin-block: 2rem;
   max-width: 550px;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
    gap: 2rem;
}

.gap-1{
    gap: 1rem;
}

.gap-2{
    gap: 2rem;
}
.social-media{
    background-color: antiquewhite;
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 1rem;
    font-size: 1.5rem; 
    text-align: center;
    line-height: 3rem;
    box-shadow: rgb(0,0,0,0.1) 0 2px 1px;
    transition: 0.3s ease;
}

.social-media:hover{
    color:rgb(113, 116, 116);
}

.top{
    padding-top:5rem;
}
.text-center{
    text-align: center;
}

.text-center h2{
    font-size: 70px;
    letter-spacing:0.2rem;
    color: orange;
    font-weight: bold;
}
.service-card{
    width: 300px;
    display: flex;
    flex:1;
    box-shadow: black;
    margin-left: 10px;
   object-fit: cover;
    
}

.service-card p{
    text-align: center;
    flex:1;
    color: #f6f6f6;
    font-size: 20px;
    margin-left: 20px;
}


.text-center {
    text-align: center;
}

.p-bottom {
    margin-bottom: 30px;
}

.card-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.order-card {
    width: 220px;
    background: #f6f6f6;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    transition: 0.3s;
}

.order-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.2);
}

.card-image img {
    width: 100%;
    height: 150px;
    
    border-radius: 8px;
}

.order-card h4 {
    margin: 8px 0;
}

.button {
    display: inline-block;
    padding: 8px 15px;
    background-color: #ff4d4d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.3s;
}

.button:hover {
    background-color: #cc0000;
}

.inner-content h2 {
    color: #f6f6f6;
    gap: 3rem;
}

.inner-content h3 {
    color: #f6f6f6;
    gap:3rem;
    font-size: 20px;
}


.footer {
    background:orange;
    color: #1b1b1b;
    padding: 60px 0 20px;
    font-family: "Roboto", sans-serif;
    margin-top: 10rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-col {
    flex: 1;
    min-width: 250px;
}

.footer-logo {
    width: 120px;
    margin-bottom: 15px;
}

.footer-col h3 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #ff4d4d;
}

.footer-col p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #131313;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #0d0c0c;
    transition: 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ff4d4d;
    padding-left: 5px;
}

.social-icons a {
    color: #121212;
    font-size: 20px;
    margin-right: 15px;
    transition: 0.3s ease;
}

.social-icons a:hover {
    color: #ff4d4d;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #333;
    margin-top: 40px;
    padding-top: 15px;
    font-size: 14px;
    color: #0c0c0c;
}




@media screen and (max-width: 780px){
  
  .navbar{
    width: 80%;
    border-radius: 10rem;
    align-items: center;
    margin-top: 3rem;
    margin-left: 3rem;
  }
    .navlist{
        display:none;
    }

    .desktop .button{
        display: none;
    }

    .bars{
        display:block ;
    }

    .mobile-menu{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        position: absolute;
        top:20%;
        left: -100%;
        transform: translateX(-50%);
        width:20rem;
        padding: 2rem;
        background-color: rgb(255, 255, 255);
        border: 0.2rem solid rgba(255, 217, 0, 0.923);
        border-radius: 2rem;
        transition: 0.5s;
    }

    .mobile-menu-active{
        left:50%;
        transform: translateX(-50%);
    }

    .flex{
        display: flex;
    }


    .hero-section h1{
        font-size: 3.6rem;
    }

 .inner-content{
    padding-top: 3rem;
 }
 .gap-2{
    gap:1.4rem;
 }
 .gap-4{
    gap: 4rem;
 }

 .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .social-icons {
        margin-top: 10px;
    }
}