body{
    background-image: url("food images/background2.avif");
}

.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1.5rem;
    background-color: rgb(242, 175, 50);
    width: 80%;
    border-radius: 10rem;
    align-items: center;
    margin-top: 3rem;
    margin-left: 8rem;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    width:80px;
}

a{
    text-decoration: none;
    color: rgb(11, 11, 11);
    font-size: 18px;
    font-weight: bold;
}

.navlist{
    display:flex;
    align-items: center;
    gap: 3rem;
    margin-right:150px;
    font-weight:bold;
}

li{
    list-style: none;
}

.btn:hover{
    color:rgb(242, 235, 226);
    transition: 0.3s;
}

.button{
   padding: 10px 18px;
   background-color: rgb(252, 62, 10);
   border-radius: 0.8rem;
   font-size:16px;
   font-weight: 600;
   color: rgb(251, 252, 252);
   border:none;
   transition: 0.3s ease;
   white-space: nowrap;
   margin-right: 15px;
}

.login-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.login-box {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 8px;
    text-align: center;
}

.login-box input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}

.login-buttons {
    display: flex;
    justify-content: space-between;
}

.button:hover{
    background-color: rgb(220, 50, 5);
    color: white;
}

.desktop{
    display:flex;
    align-items:center;
    gap:1.5rem;
}

.cart-icon{
    color: rgb(6, 12, 0);
    font-size: 25px;
    position:relative;
}

.cart-icon .cart-value{
    font-size: 12px;
    width:20px;
    height:20px;
    background:red;
    color:rgb(28, 15, 15);
    border-radius: 50%;
    position:absolute;
    top: -8px;
    right: -10px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.cart-icon:hover{
    color: rgb(84, 82, 82);
}

.cart-modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.cart-box {
    background: #ffffff;
    width: 400px;
    max-height: 80vh;
    overflow-y: auto;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    animation: slideUp 0.3s ease;
}

.cart-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

#cartItems div {
    background: #f8f8f8;
    padding: 10px 15px;
    border-radius: 12px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cartItems button {
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.plus {
    background: #28a745;
    color: white;
}

.plus:hover {
    background: #218838;
}

.minus {
    background: #dc3545;
    color: white;
}

.minus:hover {
    background: #c82333;
}


#cartTotal {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    text-align: right;
}

#closeCart {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    background: #ff6b6b;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#closeCart:hover {
    background: #e63946;
}

.bars{
    font-size: 25px;
    display: none;
    cursor:pointer;
}

.mobile-menu{
    display:none;
}

.wrapper{
    max-width: 1400px;
    margin:auto;
}

.flex{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}

.menu{
    color: #ee9805;
    text-align: center;
     letter-spacing: 2px;
    padding-top: 50px;
    font-size: 50px;
    font-weight: bold;
}


.menu-famous{
    color: #f8f8f8;
    letter-spacing: 2px;
    font-size: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.order-card {
    width: 220px;
    background: #f6f6f6;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    transition: 0.3s;
}

.order-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.2);
}

.card-image img {
    width: 100%;
    height: 150px;
    
    border-radius: 8px;
}

.order-card h4 {
    margin: 8px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    display: inline-block;
    padding: 8px 15px;
    background-color: #ff4d4d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.3s;
}

.button:hover {
    background-color: #cc0000;
}

.inner-content h2 {
    color: #f6f6f6;
    gap: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.inner-content h3 {
    color: #f6f6f6;
    gap:3rem;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    list-style: none;
    padding: 10px 0;
    min-width: 220px;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);

    display: none;  
    border-radius: 10px;
    z-index: 999;
}

.dropdown-menu.active {
    display: block;
}

.dropdown-menu li {
    padding: 8px 20px;
}

.dropdown-menu li a {
    text-decoration: none;
    color: black;
    display: block;
    font-weight: bold;
}

.dropdown-menu li a:hover {
    background: #f2af32;
    color: white;
    border-radius: 6px;
}